.collapse{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 70%;
}
.main{
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
    margin: 1px;
    box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-title{
    border: 1px solid rgba(0, 0, 0, 0.015);
    padding: 20px;
    color: #0056C2;
    background-color: #F7F7F7;
}
.card-body{
    padding: 20px;
    text-align: justify;
}
.card-title a {
    color: slateblue;
    font-weight: 600;
    text-decoration: none;
}
